
body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

form {
    margin: 50px;
    text-align: center; 
    box-shadow: 0 0 10px rgba(10, 15, 25, 0.5);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #a04545;
}
